<%= image_tag ('4'), style:"height:230px; width:100%;" %>

<div class=" jumbotron" >
	<center><h3>Our mission is to ensure nobody has a bad meal.</h3></center><hr>
	<p>We still uphold the same motto “making online food ordering fast and easy”. Our service allows you to find all of the restaurants available nearby, which can deliver to your house.</p>
	<br>

	<div class ="row container" style="margin: 20px; align-content: center; text-align: justify;">
		<div class="col-lg-3 col-md-3 col-sm-4">
			<%= image_tag ('r1') %>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-8">
			<h3>Freedom of Choice</h3>
			<p> Breakfast, Lunch, Dinner or Late Night delivery then this website is just the right place for you. Simply pick one of the thousands of diverse restaurants available near you. From traditional meals to well-known fast food chains like Dominos, Pizza Hut and Box8 along with delicate cuisines such as Japanese, Biryani or Punjabi - you can find it all! All it takes is 4 easy steps:
			<br>	
	    1. Choose your city and area<br>
	    2. Pick one of the restaurant<br>
	    3. Place your order and pay online or cash on delivery<br>
	    4. Enjoy the freshly prepared food delivered to you!<br>
			</p>
		</div>
	</div>
	<hr>
	<div class ="row container" style="margin: 20px; align-content: center; text-align: justify;">
		<div class="col-lg-9 col-md-9 col-sm-8">
			<h3>Great offers, deals and discounts</h3><br>
			<p> Our daily deals will help you get free delivery or a nice discount from your favorite restaurant. That might help you decide for discovering new incredible restaurants, dishes, cuisines or even to save space on your freezer.
			<br> <br>
			Who knows, finding a new love for food might be easier than you thought.	
			Where can I find best deals? 
			<br>
			Stay tuned to our latest events and news by signing up for our website and make sure to share them with your family and friends. We recommend you to follow us on Facebook, Twitter, Instagram or our Magazine to ensure you won’t miss any opportunity to enjoy food at a good price.
			</p>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-4">
			<%= image_tag ('offer') %>
		</div>
	</div>
</div>
