 <!-- SLIDER -->
 <section class="d-flex align-items-center">
  <!-- <img src="images/slider.jpg class="img-fluid" alt="#"> -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12">
        <div class="slider-title_box">
          <div class="row">
            <div class="col-md-12">
              <div class="slider-content_wrap">
                <h1>Order delicious food online!</h1>
                <h5>Order food from favourite restaurants near you.</h5>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-md-10">
              <button onclick="getLocation()"class="btn-form"><span class="icon-compass search-icon"></span>Locate Me<i class="pe-7s-angle-right"></i></button>
              <!-- <div class="easy-autocomplete" align="center"> -->
              <%= form_with url: search_path, local: true, method: :get, html: {class:"form-wrap mt-4",id:"form"} do |form| %>
              <div class="btn-group" role="group" aria-label="Basic example">
                  <input type="text" placeholder="write restaurant name " class="btn-group1" data-behavior='autocomplete-1' name="term">
                  <input type="text" placeholder="Area" class="btn-group2" id="place" data-behavior='autocomplete-2'>
                  <button type="submit" class="btn-form" id="search-btn"><span class="icon-magnifier search-icon"></span>SEARCH<i class="pe-7s-angle-right"></i></button>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--// SLIDER -->

<!--============================= FEATURED PLACES =============================-->
<section class="main-block light-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="styled-heading">
          <h3>India's Most Favourite Restaurants</h3>
        </div>
      </div>
    </div>
    <div class="search-rest justify-content-center">
      <%= render @restaurants%>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="featured-btn-wrap">
          <%= link_to "VIEW ALL",restaurants_path,class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--//END FEATURED PLACES -->

<script>
  var y = document.getElementById("place");
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function showPosition(position) {
    var city = "";
    var state = "";
    var country = "";
    var lat    = position.coords.latitude,
        lng    = position.coords.longitude,
        latlng   = new google.maps.LatLng(lat, lng),
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[1]) {
          for (var ac = 0; ac < results[0].address_components.length; ac++) {
            var component = results[0].address_components[ac];

            switch(component.types[0]) {
              case 'locality':
                city = component.long_name;
              break;
              case 'administrative_area_level_1':
                state = component.short_name;
              break;
              case 'country':
                country = component.long_name;
                registered_country_iso_code = component.short_name;
              break;
            }
          }
        }else {console.log("No reverse geocode results.")}
      }
      else {console.log("Geocoder failed: " + status)}
          y.value = city +", "+ country;
    });
        }

      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxnGvOzSMd0yB4RGFGt8Zi-SiHktg60eE
      "></script>
      <script>
        $(window).scroll(function() {
        // 100 = The point you would like to fade the nav in.

        if ($(window).scrollTop() > 100) {

          $('.fixed').addClass('is-sticky');

        } else {

          $('.fixed').removeClass('is-sticky');

        };
      });

    </script>
