<!--============================= FOOTER =============================-->
<footer class="main-block dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p><%= link_to 'About Us', static_pages_about_path, class: "about" %> |
          <%= link_to 'Contact Us', new_contact_path, class: "about" %></p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <ul>
            <li><a href="#"><span class="ti-facebook"></span></a></li>
            <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
            <li><a href="#"><span class="ti-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--//END FOOTER -->
